Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**1.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [2]:
df = pd.DataFrame(data, index=labels)
print(df)

**2.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [ ]:
print(df.info())

**3.** Return the first 3 rows of the DataFrame `df`.

In [ ]:
first_3_rows = df.head(3)
print(first_3_rows)

**4.** Display the 'animal' and 'age' columns from the DataFrame `df`

In [3]:
animal_age = df[['animal', 'age']]
print(animal_age)

**5.** Display the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']'

In [4]:
data = df.loc[df.index[[3, 4, 8]], ['animal', 'age']]
print(data)

**6.** Select only the rows where the number of visits is greater than 3.

In [ ]:
visits_greater_than_3 = df[df['visits'] > 3]
print(visits_greater_than_3)

**7.** Select the rows where the age is missing, i.e. it is `NaN`.

In [ ]:
missing_age_rows = df[df['age'].isna()]
print(missing_age_rows)

**8.** Select the rows where the animal is a cat *and* the age is less than 3.

In [ ]:
cat_age_less_than_3 = df[(df['animal'] == 'cat') & (df['age'] < 3)]
print(cat_age_less_than_3)

**9.** Select the rows where the age is between 2 and 4 (inclusive)

In [5]:
age_between_2_and_4 = df[(df['age'] >= 2) & (df['age'] <= 4)]
print(age_between_2_and_4)

**10.** Change the age in row 'f' to 1.5.

In [ ]:
df.loc['f', 'age'] = 1.5
print(df)

**11.** Calculate the sum of all visits in `df` (i.e. the total number of visits).

In [ ]:
total_visits = df['visits'].sum()
print("Total number of visits:", total_visits)

**12.** Calculate the mean age for each different animal in `df`.

In [ ]:
mean_age_by_animal = df.groupby('animal')['age'].mean()
print(mean_age_by_animal)

**13.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [ ]:
#Adding new row
new_row = {'animal': 'rabbit', 'age': 1, 'visits': 2, 'priority': 'yes'}
df = df.append(pd.Series(new_row, name='k'))
print("DataFrame with the new row 'k':")
print(df)

In [ ]:
#Deleting new row
df = df.drop('k')
print("\nOriginal DataFrame after deleting row 'k':")
print(df)

**14.** Count the number of each type of animal in `df`.

In [ ]:
animal_counts = df['animal'].value_counts()
print(animal_counts)

**15.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

In [ ]:
sorted_df = df.sort_values(by=['age', 'visits'], ascending=[False, True])
print(sorted_df)

**16.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [ ]:

data = df
data['priority'] = [True if priority == 'yes' else False for priority in data['priority']]

print(data)

**17.** In the 'animal' column, change the 'snake' entries to 'python'.

In [ ]:
data['animal'] = ['python' if animal == 'snake' else animal for animal in data['animal']]

print(data)

**18.** Load the ny-flights dataset to Python

In [ ]:
data = pd.read_csv('/content/ny-flights (2).csv')
data.head()

**19.** Which airline ID is present maximum times in the dataset

In [ ]:
airline_counts = data['airline_id'].value_counts()
max_airline_id = airline_counts.idxmax()
max_count = airline_counts.max()

print(f"The airline ID present maximum times is: {max_airline_id}, Count: {max_count}")

**20.** Draw a plot between dep_delay and arr_delay

In [ ]:
plt.bar(data['dep_delay'],data['arr_delay'])
plt.show()